
 body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: blue;
  background: red;
}

.head {
  color: red;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  margin: 0 10px;
}

.navside {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
}

.navside:hover {
  color: blue;
} 
